body{
    background-color: #fff4e6;
}

h1{
    text-align: center;
    color: #4b3832;
}

#game-content{
    border: 2px solid#4b3832;   
    margin: 0 auto;    
    width: 298px;
    height: 590px;
    position:relative;
    background-color: #be9b7b;
}

#attempt-content{
    border: 1px solid #4b3832;
}

#option-list{
    border: 1px solid #4b3832;
    width: 190px;
    height: 80px;
    position:absolute;
    bottom:0;
    text-align: center;
    margin: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.option-pebble{
    border: 2px solid #3c2f2f;
    border-radius: 50px;
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-top: 2.5px;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.2);
}

.attempt-el-wrapper{
    height: 40px;
    margin: 2px;
}


.attempt-list{
    border: 1px solid #4b3832;   
    height: 38px;
    text-align: center;
    float: left;
}

.attempt-pebble{
    border: 1px solid #3c2f2f;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 3.5px;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.2);
}


.result-list{
    border: 1px solid #4b3832;   
    width: 35px;
    height: 35px;
    float: left;
    margin-left: 20px;
    margin-top: 1px;
    font-size: 0;
    line-height: 0;
}

.result-pebble{
    border: 1px solid #3c2f2f;
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 3.5px 1px 1px 3.5px;
    
}

#correct-list{
    border: 1px solid #4b3832;
    height: 45px;
    text-align: center;
    margin: 2px 2px 15px 2px;
    display: inline-block;
}


.correct-pebble{
    border: 2px solid #3c2f2f;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin: 5px 2px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 2em;
    color: #3c2f2f;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.2);

}

.option-pebble:hover{
    border: 2px solid #fff4e6;
}

.submitButton{
    float: right;    
    margin-top: 8px;
    margin-right: 10px;
}

#clear-button{
    float: right;
    margin-right: 16px;
    margin-top: 45px;
}

#newgame-button{
    font-size: 9px;
    margin-left: 12px;
    margin-top: 3px;
}
    
#difficulty-settings{
    float: right;
    margin-top: 4px;
    margin-right: 5px;  
    font-size: 14px;    
}
.selected-pebble{
    border: 1px solid white;
}